*.swp
*.swo
*.swn
*.swm
*.iml
.idea
.classpath
.myeclipse/
.settings/
.mymetadata
.class
.project
WebRoot/WEB-INF/classes/
.DS_Store
.myumldata
/out
/target
/lib
/sample.db
nohup.out
/out
/*.png
/logs
webapp/WEB-INF/classes
webapp/WEB-INF/lib
webapp/zzzhc.jsp
assets.manifest
src/main/resources/rebel.xml
src/test/resources/rebel.xml