<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>crawler</display-name>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
        </jsp-property-group>
    </jsp-config>
    <servlet>
        <servlet-name>crawler</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:/applicationContext.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!--<servlet-mapping>-->
        <!--<servlet-name>crawler</servlet-name>-->
        <!--<url-pattern>/</url-pattern>-->
    <!--</servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>crawler</servlet-name>
        <url-pattern>*.crawl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crawler</servlet-name>
        <url-pattern>*.json</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-totalCount>400</error-totalCount>
        <location>/40x.html</location>
    </error-page>
    <error-page>
        <error-totalCount>404</error-totalCount>
        <location>/40x.html</location>
    </error-page>
    <error-page>
        <error-totalCount>405</error-totalCount>
        <location>/40x.html</location>
    </error-page>
    <error-page>
        <error-totalCount>406</error-totalCount>
        <location>/40x.html</location>
    </error-page>
    <error-page>
        <error-totalCount>500</error-totalCount>
        <location>/50x.html</location>
    </error-page>
</web-app>
